.footer-right {
    // margin-left: 93px;
    width: auto;
}

.subscribe-form {
    display: flex;
    flex-direction: column ;
    align-items: center;

    @media screen and (min-width:1200px) {
    display: flex;
    flex-direction: row ; 
    }
    
}

.subscribe-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;

    text-align: center;
}

.subscribe-button {
    

    display: flex;
    background-color: var(--accent-color);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    

    margin-top: 20px;
    // margin: 0 auto;
    ;

    @media screen and (min-width:1200px) {
        margin: 0 auto;
    }

    &:hover,
    &:focus {
        border: 1px solid var(--hover-color);
    }
}

.subscribe-input {
    @media screen and (min-width:768px) {
        width: 450px;
    }
    @media screen and (min-width:1200px) {
        width: 358px;
    }

    margin-right: 12px;
    padding: 15px;
    color: #ffffff;
    height: 50px;
    width: 100%;
    // width: 358px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        color: var(--secondary-text);
    }
    
}

.subscribe-icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: currentColor;
}