/* hero */
.hero__title {

    margin: 0 auto;
    margin-bottom: 30px;
    // width: 696px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    
    letter-spacing: 0.06em;

   
 

    color: var(--primary-bcg);
    text-transform: uppercase;
}

.hero {
    background-color: var(--dark-bcg);
    text-align: center;
    
    
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/adaptive/layout/mobile-layout-x1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    // height: 600px;
    margin: 0 auto;

       
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/adaptive/layout/mobile-layout-x2.jpg");
    }


    @media screen and (min-width: 768px) {
    background-image:
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/adaptive/layout/tablet-layout-x1.jpg");
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/adaptive/layout/tablet-layout-x2.jpg");
        }
    }    

    @media screen and (min-width: 1200px) {
    padding: 200px 0;
    font-size: 44px;
    line-height: 1.36;

    background-image:
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/adaptive/layout/layout-x1.jpg");
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/adaptive/layout/layout-x2.jpg");
        }
    }

}

/* buttons */
.hero__button {

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: inline-block;
    padding: 10px 32px;
    border: 0px;
    // min-width: 200px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color: var(--accent-color);
    color: var(--primary-bcg);
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button {
    &:hover,
     &:focus{
        background-color: var(--hover-color);
        color: var(--primary-bcg);
    }
}