.filter__button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0px;
    color: var(--primary-head-text);
    background-color: var(--team-bcg);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button {

    &:hover,
    &:focus {
        background-color: var(--hover-color);
        color: #ffffff;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.filter__item {
    // margin-right: 8px;
    // margin-bottom: 15px;
    @media screen and (min-width: 768px) {
    
        
    }
    &:nth-child(5n) {
        margin-right: 0px;
    }
}
.list.filter {
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 40px;
    gap: 8px;
    row-gap: 15px;
    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.list.grid {
    border-top: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-bottom: -30px;
   
}

.grid__item {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 1 - 30px);

    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - 30px);
        margin-right: 30px;
        
    }
        @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 3 - 30px);
        }
    

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



// .grid__item:nth-child(3n) {
//     margin-right: 0px;

// }

// .grid__item:nth-last-child(-n + 3) {
//     margin-bottom: 0px;
// }

.grid__card-name {
    color: var(--secondary-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;

}

.grid__card-subitem {

    border: 1px solid #eeeeee;
    border-top: 0px;
    padding: 20px 24px;
}

.grid__card-subtitle {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 17px;
    line-height: 2;
    letter-spacing: 0.06em;
}




.grid__card-wrap {
    position: relative;
    overflow: hidden;


}

.grid__card-link:hover .grid__card-text {
    transform: translateY(0);
}

.grid__card-link:focus .grid__card-text {
    transform: translateY(0);
}

.grid__card-text {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: #FFFFFF;
    padding: 63px 24px;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__card-link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.grid__card-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    ;
    transition-property: box-shadow;

}

.grid__card-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    ;
    transition-property: box-shadow;

}