.team__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px; 
        font-size: 36px;
        line-height: 1.17;
}
}
.team {
    background-color: var(--team-bcg);
    padding-bottom: 94px;
}

.team__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondary-text);
    text-align: center;
}

.team__item {

    margin-bottom: 30px;
    @media screen and (min-width:768px) {
        width: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
    }

    @media screen and (min-width:1200px) {
        width: calc((100% - 90px) / 4);
        margin-right: 30px;
        
     }
    // width: calc((100% - 90px) / 4);
    // margin-right: 30px;
    
    &:nth-child(4n) {
        @media screen and (min-width:1200px) {
            margin-right: 0px;
        }


    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
}
}
.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--primary-head-text);
    text-align: center;
    margin-bottom: 10px;

}

.team__card {
    background-color: var(--primary-bcg);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding: 30px 0;


}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    gap: 10px;

}

.social-list__icon {
    width: 20px;
    height: 20px;

    fill: currentColor;

    /* overflow: hidden; */

}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #AFB1B8;
    width: 44px;
    height: 44px;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #ffffff;
        background-color: var(--accent-color);
    }
}
.social-list__item {
    width: 40px;
}

.list.team__list {
    // display: flex;
    // justify-content: center;
    @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    }
}
