.modal {
    padding: 40px;
    width: 450px;
    min-height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translateX(100%);
    transform: translate(-50%, -50%);
    transition: transform 1000ms;

    @media screen and (min-width:1200px) {
        width: 528px;
    }
}

.modal-close {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}