p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    /* font-family: inherit; */
}

address {
    font-style: normal;
}

/* body */

body {

    font-family: var(--primary-font);
    color: var(--primary-head-text);
    background-color: var(--primary-bcg);
    font-size: 14px;
    letter-spacing: 0.03em;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
    /* display: block; */
}

button {
    display: block;
    // margin: 0 auto;
    // padding: 10px 32px;
    cursor: pointer;

    border: none;
    border-radius: 4px;

}

.list {
    font-style: normal;
    margin: 0px;
    padding: 0px;
}