:root {
    --primary-head-text: #212121;
    --primary-bcg: #ffffff;
    --secondary-text: #757575;
    --accent-color: #2196F3;
    --dark-bcg: #2F303A;
    --hover-color: #188CE8;
    --secondary-bcg: #E5E5E5;
    --team-bcg: #F5F4FA;
    --primary-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --inner-border-color: ##EEEEEE;
    --header-border-color: ##ECECEC;
    --clients-color: #AFB1B8;
}